{% extends "Footer.html" %}
{% if product.urlKey != " " %}
{% set title = product.urlKey %}
{% endif %}
{% block body %}
<h1>{{title}}</h1>
{% set baseUrl = '/cybercom/php/practiceMVC/Public' %}
{% for product in selectProduct %}
<div style="display: inline-flex;">
    <div style="text-align: center;">
        <dt><a href="{{baseUrl}}/Usercategory/viewProduct/{{product.urlkey}}">
            <img src="../../{{product.image}}" alt="" height="100px" width="100px">
            </a></dt>
        Product Name:<dt>{{product.productname}}</dt>
        Price:<dt>{{product.price}}</dt>
    </div>
</div>
{% endfor %}
{% endblock %}