#Remove index.php from the request but maintain the query string
ReWriteEngine On
ReWriteBase /cybercom/php/7th_feb/public/
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteRule ^(.*)$ index.php?$1 [L,QSA]





 

