<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/cybercom/php/7th_feb(MVC)/public">Home</a>
        <a href="/cybercom/php/7th_feb(MVC)/public/posts/index">Post</a>
        <a href="/cybercom/php/7th_feb(MVC)/public/posts/getPostData">Add Post</a>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>