{% extends "Base.html" %}
{% block body %}
{% if edit == 'edit' %}
    {% set btn = 'update' %}
    {% set action = 'updateCategoryData'%}
{% else %}
    {% set btn = 'add' %}
    {% set action = 'insertCategoryData'%}
{% endif %}

<h1>Add Category</h1>
    <div class="addproduct-info">
        <form action="{{action}}" method="post" enctype="multipart/form-data">
            <div class="categoryname">
                <label>Category Name:</label>
                <input type="text" name="category[categoryname]" required value="{{categories.categoryname}}">
            </div>
            <div class="urlkey">
                <label>Url key:</label>
                <input type="text" name="category[urlkey]" required value="{{categories.urlkey}}">
            </div>
            <div class="status">
                <label>Status:</label>
                <input type="text" name="category[status]" required value="{{categories.status}}">
            </div>
            <div class="discription">
                <label>Discription:</label>
                <input type="text" name="category[discription]" required value="{{categories.discription}}">
            </div>
            <div class="parentcategory">
                <label>Parent Category: </label>
                <select name="category[parentcategory]" value="" required>
                    <option value="NULL">None</option>
                    {% for parentCategory in parentCategories  %} 
                        <option value="{{ parentCategory.id }}">{{ parentCategory.categoryname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="image">
                <label>Image:</label>
                <input type="file" name="categoryImage">
            </div>
            <input type="submit" value="{{btn}}" name="{{btn}}">
        </form>
    </div>
{% endblock %}