#Remove index.php from the request but maintain the query string
ReWriteEngine On
ReWriteBase /cybercom/php/practiceMVC/public/
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteRule ^(.*)$ Index.php?$1 [L,QSA]





 

